.Temp {
    max-width: 1280px;
    margin: 0 auto;
}

.event-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.search-tags-row, .date-row {
    font-size: 1rem;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    flex: 1;
}