.icon-button {
    display: flex;
    gap: 0.5rem;
    padding: 0.4rem 0.8rem;
    background: none;
    height: 100%;
    color: var(--primary-text-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
}

.icon-button-label {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
}
@keyframes logo-spin {
    to {
        transform: rotate(360deg);
    }
}

.Sun:hover{
    animation: logo-spin infinite 10s linear;
}
.MenuIcon {
    transition: transform 0.5s;
}
.MenuIcon:hover{
    transform: scale(1.2);
}

.icon-button:hover {
   background: rgba(0,0,0,0.1);
}

@media (max-width: 670px) {
    .icon-button {
        padding: 0.4rem 0.4rem;
    }
    .icon-button-label {
        display: none;
    }
}