* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:root {
    --foreground-color: #1414C8;
    --primary-text-color: black;
    --secondary-text-color: #7D7D7D;
    --button-background-color: #FFCF71;
    --button-border-color: #007BFF;
    background-size: 48px 48px;
    transition: background-image 0.25s;
}

[data-theme="light"] {
    background-image: url('./assets/light.png');

    /* identisch zu :root */
}

[data-theme="dark"] {
    background-image: url('./assets/black.png');
    --foreground-color: #333333;
    --primary-text-color: #7D7D7D;
    --secondary-text-color: #535bf2;
    --button-background-color: red;
    --button-border-color: transparent;
    color-scheme: dark;
}

@media (prefers-reduced-motion) {
    *, *::before, *::after {
        animation-duration: 0.001s !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.001s !important;
        scroll-behavior: auto !important;
    }
}

/*
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
*/