header {
    height: 6rem;
    font-size: 2rem;
    background-color: var(--foreground-color);
    top: 0;
    display: block;
    position: fixed;
    width: 100vw;
    z-index: 1000;
    box-shadow: var(--foreground-color) 0 0 10px;
}

.box {
    display: flex;
    height: 100%;
}

.EndNav {
    margin-left: auto;
    display: flex;
    align-items: end;
    flex-direction: column-reverse;
}

.header-filler {
    height: 6rem;
}

.Logo {
    width: auto;
    max-height: 100%;
}

.header-visible {
    top: 0;
    transition: top 0.4s ease-out;
}

.header-hidden {
    top: -7rem;
    transition: top 1s ease-out;
}

@media (max-width: 850px) {
    header {
        height: 4rem;
    }
    .header-filler {
        height: 4rem;
    }
}
