:root {
    --header-height: 4.25rem;
}

header {
    top: 0;
    height: var(--header-height);
    background-color: var(--foreground-color);
    display: block;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: var(--foreground-color) 0 0 10px;
}

.header-filler {
    height: var(--header-height);
}

.box {
    display: flex;
    height: 100%;
}

.EndNav {
    margin-left: auto;
}

.Logo {
    width: min-content;
    max-height: 100%;
}

.header-visible {
    transition: top 0.4s ease-out;
}

@media (max-width: 485px) {
    :root {
        --header-height: 14vw;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .header-hidden {
        top: calc(-1*  var(--header-height) - 10px);
        transition: top 1s ease-out;
    }
}
.Scene {
    perspective: 800px;
}
.box > .icon-button:nth-of-type(2):hover .Door{
    transform: rotate3d(0, -1, 0, 88deg) scale(2, 1);
    box-shadow: 0 4px 8px -5px black;
}
.Door {
    transition: transform 0.5s;
    transform-origin: right;
}
